body {
    .ui-widget,
    .ui-widget .ui-widget {
        font-family: "Roboto","Helvetica Neue",sans-serif;
        text-decoration: none;
    }

    .ui-widget-content {
        background-color: $bodyUiWidgetContentBackgroundColor; // MODIFIED
        font-size: $contentFontSize;
        border: $bodyUiWidgetContentBorderWidth solid $dividerColor; // MODIFIED

        .pi {
            color: $contentIconColor;
        }
    }

    .ui-widget-header {
        background-color: $headerBgColor;
        color: $headerTextColor;
        font-size: $headerFontSize;
        border: $bodyUiWidgetHeaderBorderWidth solid $primaryColor; // MODIFIED

        .pi {
            color: $headerIconColor;
        }
    }

    .ui-state-active, .ui-state-highlight {
        background-color: $accentColor;
        color: $accentTextColor;

        .pi {
            color: $accentTextColor;
        }
    }

    .ui-widget:disabled,
    .ui-state-disabled {
        opacity: .35;
        filter: Alpha(Opacity=35);
        background-image: none;
        cursor: auto !important;
    }

    .ui-corner-all {
        @include border-radius($borderRadius);
    }

    .ui-corner-top {
        @include border-radius-top($borderRadius);
    }

    .ui-corner-bottom {
        @include border-radius-bottom($borderRadius);
    }

    .ui-corner-left {
        @include border-radius-left($borderRadius);
    }

    .ui-corner-right {
        @include border-radius-right($borderRadius);
    }

    .ui-widget-overlay {
        background-color: $overlayBgColor;
        opacity: .8;
    }

    // START MODIFIED
    a {
        /* unvisited link */
        &:link {
            color: $bodyALinkColor;
        }

        /* visited link */
        &:visited {
            color: $bodyAVisitedColor;
        }

        /* mouse over link */
        &:hover {
            color: $bodyAHoverColor;
        }

        /* selected link */
        &:active {
            color: $bodyAActiveColor;
        }
    }
    // END MODIFIED
}
