$bodyUiChkboxUiChkboxBoxBorder: 1px solid #BDBDBD;
$bodyUiChkboxUiChkboxBoxUiChkboxIconMargin: -1px 0px 0px -1px;
$bodyUiDropDownBorder: 1px solid #BDBDBD;
$bodyUiDropDownUiStateFocusBorder: 1px solid $primaryColor;
$bodyUiRadioButtonUiRadioButtonBoxBorder: 1px solid #BDBDBD;
$bodyUiInputTextBorderWidth: 1px;
$bodyUiInputTextBorderWidthFocus: 1px;
$bodyUiRadioButtonUiRadioButtonBoxUiRadioButtonIconMargin: 1.2px 0px 0px 1.2px;
$bodyUiWidgetContentBorderWidth: 0px;
$bodyUiWidgetHeaderBorderWidth: 0px;
$uiListBoxBackgroundColor: transparent;
$uiDatatableUiDatatableTheadTrThBackgroundColor: transparent;
$uiDatatableUiDatatableDataTrUiDatatableOddBackgroundColor: transparent;