<p-accordion *ngIf="isAvailable()" [multiple]="false">
    <div *ngFor="let sidebarSelectItem of sidebarSelectItems; let i = index" [attr.data-index]="i">
        <p-accordionTab header="{{sidebarSelectItem.label}}">
            <div class="vertical-menu">
                <div *ngFor="let subSidebarSelectItem of sidebarSelectItem.sidebarSelectItems; let j = index" [attr.data-index]="j">
                    <table id="sidebar-accordion-tab-table-{{i}}-{{j}}" class="noselect" (click)="app.onSideMenubarClick(subSidebarSelectItem.value); setActiveRow(i, j);" [class.active]="i == activeRowIndicies[0] && j == activeRowIndicies[1] ">
                        <tr>
                            <td>{{subSidebarSelectItem.label}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </p-accordionTab>
    </div>
</p-accordion>
