/* Add your customizations of layout here */
$splashScreenBackgroundColor: $primaryColor;
$splashScreenBarColorOne: #EF4135;
$splashScreenBarColorTwo: #EF4135;
$splashScreenBarColorThree: #EF4135;
$splashScreenBarColorFour: #EF4135;
$splashScreenBarColorFive: #EF4135;