$primaryColor: #0067B1;
$primaryDarkColor: #005694;
$primaryLightColor: #0079cf;
$accentColor: #003359;
$accentDarkColor: #00223c;
$accentLightColor: #004476;
$accentTextColor: #FFFFFF;

@import '../sass/theme/variables-light';

@import './application/theme-variables-tft';

/* START DARK THEME CUSTOM VARIABLES */
$bodyUiWidgetContentBackgroundColor: #FFFFFF;
$uiDatatableUiDatatableDataTrUiDatatableEvenBackgroundColor: #F4F4F4;

$bodyALinkColor: #0000EE;
$bodyAVisitedColor: #551A8B;
$bodyAHoverColor: #0000EE;
$bodyAActiveColor: #0000EE;
/* END DARK THEME CUSTOM VARIABLES */

@import 'application/_theme';